body {
    font-family: 'PT Sans', sans-serif;
}

.navStyle {
    background-color: #c25b56;
}

.navStyle .navbar {
    background-color: #c25b56;
}

.navStyle .navbar a {
    color: #f8f8f8;
    padding: 20px 35px 20px 35px;
}

.navStyle .navbar img {
    width: 25px;
    height: auto;
}

.navStyle .navbar form {
    padding: 20px;
}

.subNav {
    background-color: #c25b56;
}

.subNav .navbar button {
    background-color: #c25b56;
}

.subNav .navbar .btn {
    color: #f8f8f8;
    padding: 10px 40px
}

.title {
    padding: 20px;
}

/*----------------------- Table ------------------------------ */

#item {
    width: 15%
}

#title {
    width: 30%
}

#info {
    width: 15%
}

#delete {
    width: 10%;
}

#cartTable th {
    background-color: #dfecf0;
}

#cartTable .adjust {
    padding-top: 50px;
}

#cartTable h5 {
    display: inline-block;
    color: black;
}

.delete {
    width:50%;
    height: auto;
}

#cartTable i {
    font-size: 24px;
    color: red;
}

.checkout #checkout-inline p{
    display: inline;
    padding: 0px 10px 0px 20px;
}

.checkout #checkout-inline img{
    width: 45%;
    height: auto;
    padding: 30px 5px 30px 5px;
}

.checkout #checkout-inline .mop img {
    width: 80px;
}

/*----------------------- Footer ------------------------------ */
footer {
    background-color: #c25b56;
    color: #f8f8f8;
}

.storeDetails {
    padding: 20px;
}

.storeDetails a{
    color: #f8f8f8;
}

.mop {
    padding: 20px;
}

.mop img {
    width: 90px;
    height: auto;
    padding: 5px;
}

.mop p {
    float: right;
}